@model SectionOne




<div class="col-lg-6">
    <form method="post">
        <h1>Silmek istediyinize eminsiniz?</h1>
        <input type="hidden" value="@Model.Id" />
        <input class="btn btn-danger text-white btn-sm" type="submit" value="Delete"/>
        <a class="btn btn-primary text-white btn-sm" href="/adminolev/SectionOne">Xeyr</a>
    </form>
</div>
